<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../layout/head'); -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
                'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
            ],
            toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
                'alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
        });
    </script>
    <title>Add New Post</title>
</head>
<body>
<%- include('../layout/nav'); -%>


<div class="panel panel-default">
    <div class="panel-heading">
        Add New Post
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="signupalert" style="<%if(!data ||!data.error){%>display: none;<%}%>" class="alert alert-danger">
                <p>Error:</p>
                <%if (data && data.error){%>
                    <span><%= data.error %></span>
                <%}%>

            </div>
            <div class="col-lg-12">
                <form role="form" method="post">
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" placeholder="Title">
                        <p class="help-block">Title</p>
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea class="form-control" name="content" placeholder="Content"></textarea>
                        <p class="help-block">Content</p>
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <input class="form-control" name="author" placeholder="author">
                        <p class="help-block">Author</p>
                    </div>
                    <button type="submit" class="btn btn-success">Add New Post</button>
                </form>
            </div>
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>

</body>
</html>